body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kartu-saya {
    background-color: #333;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255,165,0,0.5);
}

.container-proyek {
    display: flex;
    justify-content: center;
    flex-warp: warp;
    gap: 20px;
}

.dark-mode {
    background-color: #121212;
    color:white !important;
}

.dark-mode .kartu-saya {
    background-color: #1e1e1e;
    border-color: 2px solid #bb86fc;
    color:white !important;
}